input{
  border-radius: 4px;
  outline-color: black;
  transition: .3s;
  width: 20%;
  text-align: center;
  background-color: #ff7373;
}
input:focus{
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
select{
  background-color: #03f4fc;

}
button{
  color: rgb(0,0,0);
  background-color: rgb(0, 200, 255)
}
h1{
  font-family: 'Modak', cursive;
  font-style: italic;
  
}
select:focus{
  border-color: dodgerBlue;
  box-shadow: 0 0 8px dodgerBlue;
}
